# --- Conexión WinRM a Servidor Veeam ---
VEEAM_USER="dominio\usuario"
VEEAM_PASS="TuPasswordWinRM"
VEEAM_SERVER="192.168.X.X"
VEEAM_PORT="9419"
VEEAM_API_VERSION="1.2-rev1"
VEEAM_WINRM_PORT="5986"

# --- Configuración de Servidor Web y Frontend ---
PORT=3001
FRONTEND_URL="http://localhost:3000"

# --- Configuración de Email SMTP ---
EMAIL_USER="usuario@dominio.com"
EMAIL_PASS="TuPasswordAplicacion"
EMAIL_TO="destino@dominio.com"
